[flake8]
# Compare to ignore, this allows adding extra ignored rules to the default list instead of replacing it.
# The default exclusions are: E121, E123, E126, E226, E24, E704, W503, and W504.
extend-ignore =
    # E124 closing bracket does not match visual indentation
    E124
    # E128 continuation line under-indented for visual indent
    E128
    # E201 whitespace after '(', '['
    E201
    # E202 whitespace before ')', ']'
    E202
    # E203 whitespace before ':'
    E203
    # E221 multiple spaces before operator
    E221
    # E402 module level import not at top of file
    E402
    # E501 line too long
    E501
# The default selections are: E,F,W,C90
extend-select =
    # Assertive
    A5
    # Opinionated warnings from bugbear
    B9
# Set the maximum allowed Cyclomatic complexity value which is a software metric and a quantitative measure used to indicate the complexity of a program.
max-complexity = 10
max-line-length = 180
per-file-ignores =
    # Imported but unused
    __init__.py: F401
