# Hydra outputs
outputs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.coverage

# Distribution / packaging
dist/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode/settings.json
