# Virtual environment
.venv/

# Hydra outputs
outputs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
dist/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode/settings.json
