/.venv/

# Hydra outputs
outputs/

# Local W&B directory
wandb/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.coverage

# Distribution / packaging
dist/

# VSCode
/.vscode/settings.json
